
@media screen and (min-width: 48em) {
    .header .logo {
        padding: 5px;
    }
    .header .title {
        display: inline-block;
    }
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
        font-weight: 300;
    }
    .header .menu {
        clear: none;
        float: right;
        opacity: 1 !important;
        display: grid !important;
        visibility: visible !important;
        transition: display .7s, visibility 0s, opacity 0.5s linear;
        grid-gap: 5px;
        margin: 7px 7px 0px 5px;
    }
    .header .menu-icon {
        display: none;
    }
    
    .content-wrapper {
        width: 100%;
    }
}

@media screen and (min-width: 55em) {
    .header .logo {
        padding: 5px;
    }
}

*,
:after,
:before {
    box-sizing: border-box;
}

header {
    display: block;
    flex-shrink: 0;
    border-bottom: 1pt solid var(--color-accent);
}

img {
    width: auto;
    height: 3.2rem;
}

a {
    text-decoration: none;
    border: none;
    color: var(--color-dark);
    background-color: transparent;
}
a:hover {
    outline: 0;
    color: '#4922C9';
    color: var(--color-mid);
}
a:active {
    outline: 0;
}

h1 {

    margin: 0.67em 0;
    color: '#4922C9';
    line-height: 1.25;
    font-size: 1.4rem;
    font-weight: 300;
}

pre {
    overflow: auto;
    font-family: monospace, monospace;
    font-size: 1em;
}

input {
    margin: 0;
    font: inherit;
    color: inherit;
    line-height: normal;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

li {
    margin-bottom: 1rem;
}

pre,
ul {
    margin-bottom: 2.5rem;
}

select {
    cursor: pointer;
    font-size: 1rem;
}
svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    background: var(--color-accent);
    fill: #616161;
}



.header {
    min-height: 65px;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    color: var(--color-dark);
}

.header a:hover,
.header a:active {
    background-color: transparent;
    color: var(--color-mid);
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li {
    margin-bottom: 0;
}

.header li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: inline-flex;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    text-decoration: none;
}

.header .icon-logo {
    display: inline-block;
    width: fit-content;
    padding-right: 1rem;
    vertical-align: middle;
}

.header .menu {
    clear: both;
    opacity: 0;
    display: none;
    visibility: hidden;
    /* max-height: 0;
    transition: max-height 0.2s ease-out; */
    /* 
    opacity: 0;
    display:none;
    visibility: hidden;
    transition: display .7s, visibility 0s, opacity 0.5s linear;
    */
}


.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 32px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    
    grid-gap: 5px;
    margin-bottom: 5px;
    opacity: 1;
    display: grid;
    visibility: visible;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: 0 0;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.type-label {
    font-size: .8rem;
}
