<template>
    <div class="app">

        <component-header
            icon="./resources/android-icon-192x192.png"
            title="Component Land"
            onfilter={handleFilter}
            onsearch={handleSearch}
        ></component-header>

        <section class="content">
        
            <template if:true={projects}>
                <template for:each={projects} for:item="item">
                        
                    <component-card 
                        key={item.title}
                        item={item}
                        onpreview={previewImage}
                    ></component-card>
                </template>
            </template>

            <component-modal open={showImage}>
                <span slot="content">
                    <img width="100%" height="100%" src={imageUrl} />
                </span>
            </component-modal>
            
            <br><br><br><br><br><br><br><br>
        </section>
        
    </div>
</template>
