<template>
    <div class="card">


        <template if:true={image}>
            <div class="image_container">
                <img src={image} onclick={previewImage} />
            </div>
        </template>

        <h2>{name}</h2>

        <div class="description">
            {description}
        </div>

        
        <div class="details">

            <component-actions
                name={name}
                author={author}
            ></component-actions>

            <br />
            <br />

            <span class="trigger_info">
                <svg onclick={toggle_show} class={show} viewBox="0 0 24 24">
                    <path d="M7,10L12,15L17,10H7Z"></path>
                </svg>
            </span>

            <template if:true={show}>

                <component-lightndown 
                    url={markdown} 
                    baseurl={url}>

                    <div slot="footer">
                        <span class="trigger_info">
                            <svg onclick={toggle_show} class={show} viewBox="0 0 24 24">
                                <path d="M7,10L12,15L17,10H7Z"></path>
                            </svg>
                        </span>
                    </div>
                </component-lightndown>

                
            </template>
        </div>
    </div>
</template>